<?xml version="1.0" encoding="utf-8"?>
<PreferenceScreen
  xmlns:android="http://schemas.android.com/apk/res/android">
  <CheckBoxPreference android:key="update_notifications" android:title="@string/update_notifications" android:summary="@string/update_notifications_enabled" /> 
  <CheckBoxPreference android:key="developer_mode" android:title="@string/developer_mode" android:summary="@string/developer_mode_off" />
  <CheckBoxPreference android:key="automatic_backup" android:title="@string/automatic_backup" android:summary="@string/automatic_backup_disabled" /> 
  <CheckBoxPreference android:key="showads" android:title="@string/showads" android:summary="@string/showads_summary" />
  <CheckBoxPreference android:key="fast_nandroid" android:title="@string/fast_nandroid" android:summary="@string/fast_nandroid_off" />
  <CheckBoxPreference android:key="use_external_storage" android:title="@string/use_external_storage" android:summary="@string/use_external_storage_summary" />
  <CheckBoxPreference android:key="erase_recovery" android:title="@string/erase_recovery" android:summary="@string/erase_recovery_off" />
  <CheckBoxPreference android:key="analytics" android:title="@string/analytics" android:summary="@string/analytics_off" />
  <Preference android:key="recover_or_redeem" android:title="@string/recover_purchase" android:summary="@string/recover_or_redeem" />
  <Preference android:key="credits" android:title="@string/credits" android:summary="@string/credits_summary" />
</PreferenceScreen>
